body,
html {
    margin: 0;
    padding: 0;
}

.section {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.active {
    background-color: #2a2a2a;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 40px 40px;
    box-sizing: border-box;
    z-index: 1000;
    transition: all 0.3s ease;

}

.menu {
    float: right;
    list-style: none;
    margin-top: 20px;
    padding: 0;
    font-size: 30px;
}

.menu li {
    display: inline-block;
    margin-left: 10px;
}

.menu img {
    width: 30px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

footer .inner {
    max-width: 1200px;
    margin: 0 auto;
}

footer p {
    margin: 0;
}

.logo {
    float: left;
    position: relative;
    margin-top: 2%;
}

header .inner {
    max-width: 1024px;
    margin: 0 auto;
    overflow: hidden;
}


#fp-nav.right {
    right: 55px;
}

#fp-nav.left {
    left: 17px
}

#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    margin: 17px auto;
    width: 16px;
    height: 16px;
    position: relative
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    display: none;
}

#fp-nav ul li a {
    width: 15px;
    height: 15px;
    background: #ccc;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

#fp-nav ul li a.active {
    width: 20px;
    height: 20px;
    background: #2a2a2a;
}

#fullpage {
    height: 100vh;
    /* 화면의 100% 높이로 설정 */
}


/* 링크에 밑줄 및 색상 변경 */
a {
    text-decoration: none;
    /* 밑줄 제거 */
    color: #f0f0f0;
    /* 링크 색상을 주황색으로 변경 */
    font-size: 0.7em;
    /* 12픽셀 크기로 작은 텍스트 설정 */

}

/* 링크에 호버 효과 추가 */
a:hover {
    color: #c5da4b;
    /* 호버 시 링크 색상을 빨간색으로 변경 */
}

/* 링크에 클릭 효과 추가 */
a:active {
    color: #00ff00;
    /* 클릭 시 링크 색상을 녹색으로 변경 */
}

.menu-toggle {
    display: none;
    /* 기본적으로 숨겨진 아이콘 */
    position: absolute;
    top: 35px;
    /* 위쪽 여백 */
    right: 30px;
    /* 오른쪽 여백 */
}


#menu-icon {
    font-size: 24px;
    /* 아이콘 크기 */
    color: #ffffff;
    /* 아이콘 색상 */
    cursor: pointer;
    /* 클릭 가능한 커서로 설정 */
}

#menu-icon:hover {
    color: #56585C;
}



/* 토글 아이콘 미디어 쿼리*/
@media screen and (max-width: 1024px) {

    .menu-toggle {
        display: block;
        /* 작은 화면 크기에서 보이도록 함 */
    }

    .sub-menu {
        display: none;
        /* 기본적으로 숨겨진 메뉴 */
        position: absolute;
        /* 절대 위치로 설정 */
        top: 80%;
        /* 헤더 아래에 나타나도록 함 */
        left: 0;

    }

    .sub-menu.active {
        display: flex;
        /* 메뉴를 보이도록 함 */
        justify-content: center;
        /* 가로 방향 중앙 정렬 */
        background-color: #d37e5a;
        width: 100%;
    }

    .menu {
        flex-direction: column;
    }

    .menu li {
        display: flex;
        padding: 10px;
        /* 각 메뉴 항목의 여백 설정 */
        text-align: center;
        /* 가운데 정렬 */
    }



}