    th,
    td {
        white-space: nowrap;
    }

    .highlight {
        color: rgb(204, 52, 52);
        /* 글자색을 빨간색으로 변경 */
        font-weight: bold;
        /* 글자를 굵게 변경 */
    }


    .ppp {
        font-weight: bold;
        color: rgb(78, 78, 189);
        font-size: 10;
    }

    h1 {
        margin-left: 7%;
    }

    /* Body에 대한 기본 스타일 */
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
    }

    /* 전체적인 컨테이너 스타일 */
    .container {
        margin-top: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;

    }

    /* 헤더 스타일 */
    h2 {
        color: #333;
    }

    /* 버튼 스타일 */
    .btn {
        border-radius: 3px;
    }

    /* 주요 컨테이너의 배경색과 글자색 */
    .bg-primary {
        background-color: #007bff !important;
    }

    .text-white {
        color: #fff !important;
    }

    /* 카드 스타일 */
    .card {
        border: none;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    /* 테이블 스타일 */
    .table {
        background-color: #fff;
    }

    /* 하이라이트 스타일 */
    .highlight {
        font-weight: bold;
    }

    /* 단락 스타일 */
    .pp {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    /* 더 깊은 단락 스타일 */
    .ppp {
        margin-top: 5px;
        margin-bottom: 20px;
        font-style: italic;
        color: #888;
    }

    /* 정렬 버튼 스타일 */
    #sortButton {
        border: none;
        background: none;
        cursor: pointer;
        font-size: 16px;
        color: #ffffff;
    }

    #sortButton:hover {
        color: #007bff;
    }

/* 링크에 밑줄 및 색상 변경 */
a {
    text-decoration: none;
    /* 밑줄 제거 */
    color: #ffffff;
    /* 링크 색상을 주황색으로 변경 */
    font-size: 0.7em;
    /* 12픽셀 크기로 작은 텍스트 설정 */

}

/* 링크에 호버 효과 추가 */
a:hover {
    color: #c5da4b;
    /* 호버 시 링크 색상을 빨간색으로 변경 */
}

/* 링크에 클릭 효과 추가 */
a:active {
    color: #00ff00;
    /* 클릭 시 링크 색상을 녹색으로 변경 */
}

.logo {
    float: left;
    position: relative;
    margin-top: 3%;
}


.menu {
    float: right;
    list-style: none;
    margin-top: 20px;
    padding: 0;
    font-size: 30px;
}

.menu li {
    display: inline-block;
    margin-left: 10px;
}


header .inner {
    max-width: 1024px;
    margin: 0 auto;
    overflow: auto;
}

.menu-toggle {
    display: none;
    /* 기본적으로 숨겨진 아이콘 */
    position: absolute;
    top: 35px;
    /* 위쪽 여백 */
    right: 30px;
    /* 오른쪽 여백 */
}

header {
    background-color: #67c967;
    height: 13%;
}

#menu-icon {
    font-size: 24px;
    /* 아이콘 크기 */
    color: #ffffff;
    /* 아이콘 색상 */
    cursor: pointer;
    /* 클릭 가능한 커서로 설정 */
}

#menu-icon:hover {
    color: #56585C;
}




/* 토글 아이콘 미디어 쿼리*/
@media screen and (max-width: 1024px) {

    .menu-toggle {
        display: block;
        /* 작은 화면 크기에서 보이도록 함 */
    }

    .sub-menu {
        display: none;
        /* 기본적으로 숨겨진 메뉴 */
        position: absolute;
        /* 절대 위치로 설정 */
        top: 9%;
        /* 헤더 아래에 나타나도록 함 */
        left: 0;

    }

    .sub-menu.active {
        display: flex;
        /* 메뉴를 보이도록 함 */
        justify-content: center;
        /* 가로 방향 중앙 정렬 */
        background-color: #67c967;
        width: 100%;
    }

    .menu {
        flex-direction: column;
    }

    .menu li {
        display: flex;
        padding: 10px;
        /* 각 메뉴 항목의 여백 설정 */
        text-align: center;
        /* 가운데 정렬 */
    }

    .logo {
        float: left;
        position: relative;
        margin-top: 4%;
        margin-bottom: 4.5%;
    }


}